<div class="section__information">
{{#if icon}}
    <span class="icon {{icon}}"></span>
{{/if}}
{{#if sectionTitle}}
    <h2 class="section__title">{{sectionTitle}}</h2>
{{/if}}
</div>
{{#if pOne}}
  {{#if pOneStrong}}
    <p><strong>{{pOneStrong}}</strong> {{pOne}}</p>
  {{else}}
    <p>{{pOne}}</p>
  {{/if}}
{{/if}}
{{#if pTwo}}
  {{#if pTwoStrong}}
    <p><strong>{{pTwoStrong}}</strong> {{pTwo}}</p>
  {{else}}
    <p>{{pTwo}}</p>
  {{/if}}
{{/if}}